div{
	/* width: 100px;
	padding: 10px 0;
	margin: 0; */
    font-style: normal;
}

body {
    /* display: list-item; */
    margin:0;
    padding:0
  }
.contenedorBody{
    margin :0 12%;
}

.icono{
    width: 32px;
    height: 32px;
    /* background-color: white; */
}

.divEmailPadre{
    width: 100%;
   display:flex;
    align-items: center; 
background-color: rgb(89,89,89);



}

.divEmail{
    float: left;
    margin: 0px auto;
    display:flex;
    align-items: center;

}

.divTitulo{
    /* float: left; */
    /* margin: 0px auto; */
    display:flex;
    align-items: center;
    font-family:  'Segoe UI', Roboto;
    font-size: 16px;
text-align: left;
align-self: flex-start;





}

.divHabilidad{

    display:flex;
    margin: 0 auto;


}


.contenedorCirculos{
/* margin-left: 50px;
    margin-right: 50px; */
display: flex;
align-items: center;
margin:0 auto;
width: 95px;
}

.contenedorHabilidades{
    /* text-align: center; */
    /* display: table-cell; */
    /* vertical-align: middle; */

    margin: 20px auto;








;

}

button{

    color: black
    font-family:  'Segoe UI', Roboto;
    font-size: 15px;
    opacity: .8;
    margin :0 auto;
    width: 200px;
    text-align: left; 
    /* border-radius:10px; */
    border: 0;
outline:none; 
background-color:white;

}

.show{
    pointer-events: auto;
    opacity: 1;
}

.modal-container{
    display: none;
    /* opacity: 0; */
    margin: 5px,5px;
    text-align: center;
    pointer-events: none;
}
.tituloModal{

    font-family:  'Segoe UI', Roboto;
    font-size: 35px;
    opacity: .7;
}



.textoTitulo{
    margin-left: 20px;
    color: rgb(45, 159, 194);


}
.divParrafoEmpresa{
margin :11%;


}

.tituloOrganizacion{
    color: #2d94b4;
    font-family:  'Segoe UI', Roboto;
    font-size: 13px;
    text-align: center;

}

.duracionEmpresa{
    color:black;
    font-family:  'Segoe UI', Roboto;
    font-size: 13px;
    opacity: 0.4;

}

.parrafo{
    color:black;
    font-family:  'Segoe UI', Roboto;
    /* font-style: normal; */
    font-size: 14px;
    opacity: 0.6;
    text-align: justify;
}

.tituloGraduando{
    color:black;
    font-family:  'Segoe UI', Roboto;
    font-size: 14px;
    opacity: 0.5;
    font-style: italic;
    text-align: left;
}

.tituloHabilidades{
    color: black
    font-family:  'Segoe UI', Roboto;
    font-size: 15px;
    /* opacity: 1; */

}






.divCierre{
    width: 100%;
    height: 50px;
    background-color: rgb(89,89,89);

}

.divBody{
    width: 100%;   
    height: auto;
    display:flex;
}

.circulo {
    width: 15px;
    height: 15px;
    background: #2d94b4;
    border-radius: 1000px;
margin: 2px ;
  }


.divTelefono{
    float: left;
  
    margin: 0px auto;

    display:flex;
    align-items: center;
}

.divSeccionHabilidades{

    align-items: center;
}


.divDireccion{
    float: left;
  
    margin: 0px auto;

    display:flex;
    align-items: center;
}

.textoIcono{
    float: left;
    font-family:  'Segoe UI', Roboto;
        /* font-family: 'Oswald', sans-serif; */
    color: white;
    margin-left: 10px;
    font-size: 15px;
    opacity: .9;
}





.divPrincipal{
    /* display:list-item; */
    /* overflow: hidden; */
	/* width: 250px;  */
    /* font-family: 'Oswald', sans-serif; */
     /* font-size: 500%;  */
    /* font-family:  'Segoe UI', Roboto; */
    

} 

.divNombreYFoto{
    display:flex;
    align-items: center;
}
.contenedorNombre{
    height: 100%;
    /* margin-top: 20px; */
    /* margin-left: 20%;
    margin-right: 20%; */
    float: right;
    text-align: center;
    width: 70%;
  /* display: flex; */
  align-items: center;
  /* background-color: aqua; */

}

.nombreCompleto{
    /* width: 100%; */
    display:inline-flex;
    /* align-items: center; */
  /* float:right; */
      /* align-content: center; */
      text-align: center;



  width: 80%;
  /* text-align: center; */
  
  
  

  }

.divPrimerNombre{
    /* width: 50%; */


    /* margin-left: 38%; */
    /* margin-right: 2%; */
    /* margin-right: 2%; */
float: left;
text-align: center;
/* display: inline-block */
margin:0px auto;

}
.divSegundoNombre{
    /* width: 50%; */

    float: left;
/* margin-right: 35%; */
    /* text-align: center; */
    margin:0px auto;
    
    /* display: inline-block */

}

.primerNombre{
    opacity: .7;
    /* font-family: 'Oswald', sans-serif; */

        font-family:  'Segoe UI', Roboto;
    font-size: 40px;
    /* color: aquamarine; */
    color: rgb(157, 213, 245);


}
.segundoNombre{
    /* font-family: 'Oswald', sans-serif; */
        font-family:  'Segoe UI', Roboto;
    font-size: 40px;
    color: rgb(89,89,89);

    
}

.cargo{
    font-family:  'Segoe UI', Roboto;
    color: rgb(128,127,129);

    
}

.divFoto{
    
    /* margin-top: 40px; */
/* margin-left: 20%; */
text-align: center;

}


.foto{
    /* float: left; */

    margin: 0px auto;
width: 55%;
height: 100%;
/* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
vertical-align: middle;
margin-right: 10px;
/* display: inline-block; */
/* display: table-cell; */

}


/* .lineaVertical {
     border-left: thick solid #070707; 
    } */

.divIzquierdo{

    height: 100%;
    text-align: center;
    
    /* display:list-item; */

    /* margin-top: 20px; */
    /* margin-left: 20%;
    margin-right: 20%; */
/* float: left; */
    margin: 0 auto;
    width: 55%;
  /* display: flex; */
  align-items: center;
}

.divDerecho{
    /* height: 100%; */

    
    /* display:list-item; */
    margin: 0 auto;

    /* margin-top: 20px; */
    /* margin-left: 20%;
    margin-right: 20%; */
    float: right;
    text-align: center;
    width: 40%;
  /* display: flex; */
  align-items: center;

}

.divExperienciaLaboral{

  height: 100%;
  /* margin-top: 20px; */
  /* margin-left: 20%;
  margin-right: 20%; */
  float: left;
  text-align: center;
  width: 100%;

/* display: flex; */

margin: 0 auto;

/* display:list-item; */
align-items: center;




}


.divInformacionAdicional{
    margin: 0 auto;

    /* display:list-item; */
    align-items: center;
    width: 100%;
    float: left;


}

.divTextoInformacionAdicional{

    margin: 5%;
}

.divContenedorExperienciaLaboral{

    display:flex;
    align-items: center

}

.divContenedorEmpresa{
margin:0 auto;
height: 100%;

}

.divEmpresa{
    margin:50px;

}

.divContenedorParrafosEmpresa{
    margin:0 auto;
    width: 60%;
}
